@media (max-width: 550px){


    h2 {
        font-size: 1.5rem;
    }


    .btn-text{
        display:none;
    }


    .btn-icon{
        display:block ;
    }


    .filterbox{
        margin: 0.3rem;   
    }


/* ________populaire 550______________ */

    #populaires{
        display: flex;
        flex-flow: column;
        padding:30px; 
        background-color: #F2F2F2;
        border-radius: unset;
        justify-content: space-around;
        align-items: center;
        order:1;
    }


    .title-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
        padding: 0;
    }


    .title-part-ppl h2{
        width: fit-content;
    }


    .items-ppl{
        display: flex;
        height: 30%;
        width: 100%;
        margin: 0 0;
    }


    .txt-ppl {
        padding: 10px 10px 10px 10px;
    }


    .title-ppl {
        font-size: 4vw;
    }


    .price-ppl {
        font-size: 4vw;
    }

    
    /* ______________hebergement 550_________________________________ */

    #hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        flex-flow: row wrap;
        order: 2;
    }


    .tilte-part-hbgmt{
        margin-bottom: 15px;
    }


    .list-hbgmt {
        flex-flow: column;
    }
    

    .items-hbgmt{
        width:100%;
        height: 46vw;
        margin: 15px 0px;
    }


    .img-hbgmt {
        height: 60%;
    }


    .title-hbgmt{
        font-size: 4.7vw;
        margin: 1vw 15px;
    }


    .price-hbgmt{
        font-size: 4vw;
        margin: 1vw 15px;
    }


    .note-hbgmt {
        margin: 1vw 15px;
        font-size: 1.5vw;
    }


    .items-hbgmt .fa-star {
    font-size: 3vw;
    }


/* __________activite 550____________________________________ */


    #activites {
        display: flex;
        flex-flow: column;
        margin: 4vw 0;
        padding: 0 15px;
        order: 3;
    }


    .title-actvt {
        font-size: 4.5vw;
    }


    .items-actvt{
        height: 40vw;
        width: 90%;
        align-self: center;
    }
    
}
