*, ::after , ::before{
    box-sizing:border-box;
    margin: 0;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    list-style: none;
}

body {
    font-family: "Raleway";
    
}


h1{
    font-size: 1.7rem;
    font-weight: 800 ;
    margin-top: 2rem;
}
h2{
    font-size: 1.7rem;
    font-weight: 800;
    width: 100%;
}
h3{
    font-size: 1.15vw;
    font-weight: 800;
}
h4{
    font-size: 1rem;
    font-weight: 800;
    margin: 30px 0 15px 0;
}
span{
    font-weight: 800;
}
a{
    text-decoration-line: none;
    color: black;
}
a:hover{
    color:#0065FC ;
    transition: .3s;
}


.container{
    width: 93%;
    margin: auto;
    padding: 0 !important;

}
.soustitle{
    margin: 10px 0;
    font-size: 1.2rem;
}

.blu{
    color: #0065FC !important ;
}
.fa-star{
    color:#D9D9D9;
}
.flex{
    display: flex;
}

/* _______________________header_____________________________ */

nav{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}
.logo{
    height: 3.5rem;
    margin-top: 15px;
}
.navlink{
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 20px;
}
.link-hbgmt{
     grid-column: 3;
}
.link-actvt{
     grid-column: 4;
}
.link-sign {
    font-weight: 800;
    color: #0065FC !important;
    align-self: flex-end;
    grid-column: 5;
}
.link-actvt:hover, .link-actvt:visited:hover, .link-hbgmt:hover, .link-hbgmt:visited:hover {
    color: #0065FC!important;
    border-top:solid 3px #0065FC;
    transition: none;
} 

/* __________________Form__________________________________ */

.recherche{
    width: 15rem !important;
    margin: 0 !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
input{
    font-weight: 900;
    max-width: 15rem;
    min-width: 3rem;
}

.form-srch{
    display: flex;
    height: 3rem;
    margin: 1.5rem 0;   
}
.form-input, .form-btn{
    padding: 0.65rem .75rem;
    margin-left: -.3rem;
    font-size: 1.15rem;
    border: 1px solid #F2F2F2;
    
}
.form-btn{
    border: unset;
    border-radius: 0 15px 15px 0;
    padding: 0.7rem 1.3rem;
    color: white;
    background-color: #0065FC;
    font-size: 1.2rem;
}
.form-btn:active{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.444) inset;
}



.btn-at{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    font-size: 1.3rem;  
}
.btn-icon{
    display: none !important;
}
/* _______________________filtre_____________________________ */


.filtre{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 800;
}
.filtre p{
    padding-bottom: 10px;
}
.filtrebox{
    display: flex;
    margin: 1rem;
}
.filtrebox p {
    border: #D9D9D9 2px solid;
    border-left: transparent;
    border-radius: 0 30px 30px 0;
    padding: 16px 20px 16px 33px;
    margin-left: -26px;
    
}
/* .filtrebox p:hover{
    background-color: #DEEBFF;
    transition:.3s;
} */
.fa-star{
    font-size: 14px;
}
.filtre .fas{
    z-index: 1;
    font-size: 1.5rem;
    width: 4rem;
    text-align: center;
    background-color: #DEEBFF;
    border: #DEEBFF 3px solid;
    border-radius: 50%;
    padding: 15px;
    color: #0065FC;
    
}
.info{
    margin: 20px 0px;
}
.info .fas{
    font-size: 13px;
    width: 30px;
    padding: 7px;
    margin: 0 16px 0 0;
    text-align: center;
    color: #0065FC;
    border-radius: 50%;
    border: #D9D9D9 1px solid;
}
/* _______________________contenu_____________________________ */

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: space-between;
}


.card{
    background-color: white;
    border: white solid 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #0000001f;
}
.card:hover{
    transform:scale(1.03);
    transition: .3s;
}
.card:active{
    transform:scale(1);
    transition: none;
}
.titre-hbgmt, .prix-hbgmt, .note-hbgmt{
    margin: 7px 15px;
}
.prix-hbgmt, .prix-ppl{
    font-size:1.1vw;;
}

/* _______________________hebergements_____________________________ */

#hebergements{
    width: 65%;
    padding: 40px;

    background-color: #F2F2F2;
    border-radius: 20px;


}
.list-hebergements{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;

}
.items-hebergements{
    width:30%;
    margin: 25px 0px;
}
.titre-part-hbgmt{
    width: 100%;
}
.img-hbgmt{
    width:100%;
    height: 8vw;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.afficherplus{
    width: 100%;
    margin:1.3rem 0;
    font-size: 1.3rem;
    font-weight:800;
}

/* _______________________populaires_____________________________ */

#populaires{
    display: flex;
    flex-flow: column;
    width: 30%;
    background-color: #F2F2F2;
    padding: 40px;
    justify-content: space-around;
    border-radius: 20px;
    align-content: center;
}
.list-populaires{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;

    /* height: 25%; */
    /* width:80%; */
    /* margin: 25px auto; */
    
}

.items-populaires{
    display: flex;
    height: 25%;
    width:100%;
    margin: 25px auto;
    
}
.img-ppl{
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.titre-part-ppl{
    display: flex;
    font-size: 1.7rem;
    /* width: 80%; */
    align-self: center;

    width: 100%;

}
.txt-ppl{
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-flow: column;
}

.prix-ppl{
    margin-top: 5px;
}
.note-ppl{
    margin-top: auto;
}

/* _______________________activites_____________________________ */



.img-actvt{
    width:100%;
    height:100%;
    border-radius: 20px 20px ;
    object-fit: cover;
    padding-bottom: 3rem;
}

.titre-actvt{
    margin: -40px 0px -40px 25px;

}
#activites{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2rem 12vw 0.5vw 0.5vw 12vw;
    grid-gap: 2vw ;
    width: 100%;
    margin: 4vw 0;
    padding: 0 20px;
    order: 3;
}

.titre-part-actvt{

    grid-column: 1 /5;
    grid-row: 1;
}
#actvt-1{
    grid-column: 1;
    grid-row: 2 / 6 ;

}
#actvt-2{
    grid-column: 2;
    grid-row: 2/5;
}
#actvt-3{
    grid-column: 2;
    grid-row: 5;
}
#actvt-4{
    grid-column: 3;
    grid-row: 2 / 6;
}
#actvt-5{
    grid-column: 4;
    grid-row: 2;
}
#actvt-6{

    grid-column: 4;
    grid-row:  3/6;
}

/* _______________________footer_____________________________ */
footer{
    background-color: #F2F2F2;
    padding-bottom:30px;
    padding-top:10px;

}

.flexFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footerP1, .footerP2, .footerP3{
    width: 30%;
    min-width: 266px;
}
.fp1, .fp2, .fp3{
    margin: 10px 0;;
}
/* _______________________1200_____________________________ */
/* //////////////////////////////////////////////////////// */
@media (max-width: 1200px){
    header{
        padding:0 40px;
    }
    h3{
        font-size: 1.5vw;
    }
    .container{
        width: 100%;
    }
    .hautpage{
        padding: 0 20px;
    }
    .filtre p{
        width: 100%;
    }
    .filtrebox{
        margin: 0.5rem;   
    }
/* ___________________populaire 1200_________________________________ */

    #populaires{
        display: flex;
        flex-flow: row wrap;
        padding: 20px 10px 0 10px;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: unset;
        /* align-content: center; */
        order:1;
    }
    .list-populaires{
        flex-flow: row;
    }
    .items-populaires{
        display: flex;
        height: 16vw;
        width:30%;
        margin: 25px auto;
        
    }
    .titre-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
        padding: 0 25px;
        justify-content: space-between;
    }
    .titre-ppl{
        font-size: 1.5vw;
    }
 
    .prix-ppl{
        font-size: 1.35vw;
    }
 
/* __________hebergement 1200_____________________________ */

    #hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        background-color: #F2F2F2;
        order: 2;
    }
    .titre-hbgmt, .note-hbgmt {
        font-size: 2vw;
        margin: 7px 15px;
    }
    .prix-hbgmt {
        font-size: 1.6vw;
        margin: 7px 15px;
    
    }
    
/* ______________activite 1200_____________________________ */

    .titre-actvt{
        font-size: 1.4vw;
        margin: -40px 0px -40px 15px;
    }
}
/* _______________________800_____________________________ */
/* ////////////////////////////////////////////////////////*/


@media (max-width: 800px){
    header{
        padding:0;
    }
    
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .logo{
        height: 3.5rem;
        margin: 15px 0 0 40px;
        grid-column: 1;
        grid-row: 1;
        
    }
    .navlink{
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        padding: 10px;
    }
    .link-hbgmt{
         grid-column: 1;
         grid-row: 2;
         border-bottom:solid 3px #F2F2F2;
    }
    .link-actvt{
         grid-column: 2;
         grid-row: 2;
         border-bottom:solid 3px #F2F2F2;

    }
    .link-sign {
         grid-column: 2;
         grid-row: 1;
    }
    .link-actvt:hover, .link-actvt:visited:hover, .link-hbgmt:hover, .link-hbgmt:visited:hover {
        color: #0065FC!important;
        border-bottom:solid 3px #0065FC;
        border-top:none;
    } 
    
    h3{
        font-size: 2.7vw;
    }
    .container{
        width: 100%;
    }

    .form-srch {
        justify-content: center;
    }
/* ________________populaire 800________________________________ */

    .prix-hbgmt, .prix-ppl {
        font-size: 2.7vw;
    }
  
    #populaires{
        display: flex;
        flex-flow: column;
        padding: 30px 10px; 
        background-color: #F2F2F2;
        border-radius: unset;
        justify-content: space-around;
        align-items: center;
        order:1;
    }
    .list-populaires{
        flex-flow: column;
    }
    .titre-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
        margin-bottom: 25px;
    }
    .items-populaires{
        display: flex;
        height: 19vw;
        width: 80%;
        margin: 15px auto;   
    }

    .txt-ppl{
        padding: 10px;
        width: 100%;
    }
    
    .titre-ppl {
        font-size: 2.6vw;
    }
  
/* ______________hebergement 800_________________________________ */

    #hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        background-color: #F2F2F2;
        flex-flow: row wrap;
        order: 2;
    }
    .items-hebergements{
        width:45%;
        height: 36vw;
    }
    .img-hbgmt {
        height: 60% ;
    }
    .titre-hbgmt {
        font-size: 2.9vw;
    
    }

/* __________activite 800____________________________________ */

    #activites {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 2rem 36vw 36vw 36vw;
        grid-gap: 3vw 3vw;
        margin: 4vw 0;
        padding: 0 15px;
        order: 3;
    }

    .titre-part-actvt{
  
        grid-column: 1/3 !important;
        grid-row: 1 !important;
    }
    .titre-actvt{
        font-size:2.5vw;
    }
    #actvt-1{
        grid-column: 1 !important;
        grid-row:  2  !important;
    
    }
    #actvt-2{
        grid-column: 2 !important;
        grid-row: 2 !important;
    }
    #actvt-3{
        grid-column: 1 !important;
        grid-row: 3 !important;
    }
    #actvt-4{
        grid-column: 2 !important;
        grid-row: 3 !important; 
    }
    #actvt-5{
        grid-column: 1 !important;
        grid-row: 4 !important;
    }
    #actvt-6{
        grid-column: 2 !important;
        grid-row: 4 !important;
    }


/* ___________footer 800____________________________________ */

    .flexFooter {
        flex-direction: column;
    }
    .footerP1, .footerP2, .footerP3 {
        width: 100%;
    }
}
/* _______________________550_____________________________ */
/* //////////////////////////////////////////////////////// */
@media (max-width: 550px){

    .btn-text{
        display:none !important;
    }
    .btn-icon{
        display:block !important;
    }
  

    h2 {
        font-size: 1.5rem;
    }
    .filtrebox{
        margin: 0.3rem;   
    }

/* ________populaire 550______________ */

    #populaires{
        display: flex;
        flex-flow: column;
        padding:30px; 
        background-color: #F2F2F2;
        border-radius: unset;
        justify-content: space-around;
        align-items: center;
        order:1;
    }
    .titre-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
        padding: 0;
    }
    .titre-part-ppl h2{
        width: fit-content;
    }
    .items-populaires{
        display: flex;
        height: 30%;
        width: 100%;
        margin: 0 0;
        
    }
    .txt-ppl {
        padding: 10px 10px 10px 10px;
    }
    .titre-ppl {
        font-size: 4vw;
    }
    .prix-ppl {
        font-size: 4vw;
    }

    /* ______________hebergement 550_________________________________ */

    #hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        background-color: #F2F2F2;
        flex-flow: row wrap;
        order: 2;
    }
    .titre-part-hbgmt{
        margin-bottom: 15px;
    }
    .list-hebergements {
        flex-flow: column;
    }

    .items-hebergements{
        width:100%;
        height: 46vw;
        margin: 15px 0px;
    }
    .img-hbgmt {
        height: 60%;
    }
    .titre-hbgmt{
        font-size: 4.7vw;
        margin: 1vw 15px;
    }
    .prix-hbgmt{
        font-size: 4vw;
        margin: 1vw 15px;
    }
    .note-hbgmt {
        margin: 1vw 15px;
        font-size: 1.5vw;
    }
 .items-hebergements .fa-star {
    font-size: 3vw;
    }
/* __________activite 550____________________________________ */

    #activites {
        display: flex;
        flex-flow: column;
        margin: 4vw 0;
        padding: 0 15px;
        order: 3;
    }
    .titre-actvt {
        font-size: 4.5vw;
    }
    .items-actvt{
        height: 40vw;
        width: 90%;
        align-self: center;
    }
}

