*, ::after , ::before{
    box-sizing:border-box;
    margin: 0;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    list-style: none;
}

body {
    font-family: "Raleway";
    
}
header{
    display: flex;
}
nav{
    margin-left: auto;
}
footer{
    background-color: #F2F2F2;
    padding-bottom:30px;
}

h1{
    font-size: 1.7rem;
    font-weight: 800 ;
    margin-top: 2rem;
}
h2{
    font-size: 1.7rem;
    font-weight: 800;
    width: 100%;
}
h3{
    font-size: 1.15vw;
    font-weight: 800;
}
h4{
    font-size: 1rem;
    font-weight: 800;
    margin: 30px 0 15px 0;
}
span{
    font-weight: 800;
}
a{
    text-decoration-line: none;
    color: black;
}
a:hover{
    color:#0065FC ;
    transition: .3s;
}


.container{
    width: 93%;
    margin: auto;
    padding: 0 !important;

}
.soustitle{
    margin: 10px 0;
    font-size: 1.2rem;
}
.titre-part{
    width: 100%;
}

.blu{
    color: #0065FC !important ;
}
.fa-star{
    color:#D9D9D9;
}
.flex{
    display: flex;
}

/* _______________________header_____________________________ */

.logo{
    height: 3.5rem;
    margin-top: 13px;
}
.nav{
    height: 100%;
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    color: black;
}

.linav, .linav:visited{
    display: flex;
    height: 100%;
    color: black;
    margin: 0 2rem;
    align-items: flex-end;
}
.linav:hover, .linav:visited:hover{
    color: #0065FC!important;
    border-top:solid 3px #0065FC ;
}
.navlink{
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.sub , .sub a:visited{
    font-weight: 800;
    color: #0065FC !important;
    align-self: flex-end;
    margin: 0 2rem;
}

/* __________________Form__________________________________ */

.recherche{
    width: 15rem !important;
    margin: 0 !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-srch{
    display: flex;
    height: 3rem;
    margin: 1.5rem 0;   
}
.form-input, .form-btn{
    padding: 0.65rem .75rem;
    margin-left: -.3rem;
    font-size: 1.15rem;
    border: 1px solid #F2F2F2;
    
}
.form-btn{
    border: unset;
    border-radius: 0 15px 15px 0;
    padding: 0.7rem 1.3rem;
    color: white;
    background-color: #0065FC;
    font-size: 1.2rem;
}

.btn-at{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    font-size: 1.3rem;  
}

/* _______________________filtre_____________________________ */


.filtre{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 800;
}
.filtrebox{
    display: flex;
    margin: 1rem;
    
}
.filtrebox p {
    border: #D9D9D9 2px solid;
    border-left: transparent;
    border-radius: 0 30px 30px 0;
    padding: 16px 30px 16px 40px;
    margin-left: -26px;
}

.fa-star{
    font-size: 14px;
}
.filtre .fas{
    z-index: 1;
    font-size: 1.5rem;
    width: 4rem;
    text-align: center;
    background-color: #DEEBFF;
    border: #DEEBFF 3px solid;
    border-radius: 50%;
    padding: 15px;
    color: #0065FC;
    
}
.info{
    margin: 20px 0px;
}
.info .fas{
    font-size: 13px;
    width: 30px;
    padding: 7px;
    margin: 0 16px 0 0;
    text-align: center;
    color: #0065FC;
    border-radius: 50%;
    border: #D9D9D9 1px solid;
}
/* _______________________contenu_____________________________ */

.flexSpaceBe{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: space-between;
}


.card{
    
    background-color: white;
    margin: 25px 0px;
    border: white solid 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #0000001f;
}

.titre-hbgmt, .prix-hbgmt, .note-hbgmt{
    margin: 7px 15px;
}
.prix-hbgmt, .prix-ppl{
    font-size:1.1vw;;
}

/* _______________________hebergements_____________________________ */

.part_hebergements{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 65%;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 20px;
}
.items-hebergements{
    width:30%;
}
.img-hbgmt{
    width:100%;
    height: 10rem;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.afficherplus{
    width: 100%;
    margin:1.3rem 0;
    font-size: 1.3rem;
    font-weight:800;
}

/* _______________________populaires_____________________________ */

.part_populaires{
    display: flex;
    flex-flow: column;
    width: 30%;
    background-color: #F2F2F2;
    padding: 40px 0;
    justify-content: space-around;
    border-radius: 20px;
    align-content: center;
}

.items-populaires{
    display: flex;
    height: 24%;
    max-width:80%;
    width:80%;
    margin: 25px auto;
    
}
.img-ppl{
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.titre-part-ppl{
    display: flex;
    font-size: 1.7rem;
    width: 80%;
    align-self: center;
}
.txt-ppl{
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-flow: column;
}

.prix-ppl{
    margin-top: 5px;
}
.note-ppl{
    margin-top: auto;
}

/* _______________________activites_____________________________ */

.actvt-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
    order: 3;
}

.img-actvt{
    width:100%;
    height:88%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.items-actvt{
    width: 23%;
}
.items-actvt .img-actvt{
    height: 30rem;
}
.items1-actvt .img-actvt{
    height: 12rem;
}
.items2-actvt .img-actvt{
    height: 13rem;
}
.part-actvt{
    width: 23%;
}
.part-actvt .items-actvt{
    width: unset;
}

.titre-actvt{
    margin: 7px 15px;

}

/* _______________________footer_____________________________ */
.flexFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footerP1, .footerP2, .footerP3{
    width: 26%;
}
.fp1, .fp2, .fp3{
    margin: 10px 0;;
}
/* _______________________1500_____________________________ */
/* //////////////////////////////////////////////////////// */
@media (max-width: 1500px){
    h3{
        font-size: 1.5vw;
    }
    .container{
        width: 100%;
    }
    .hautpage{
        padding: 0 40px;
    }
    .filtre p{
        width: 100%;
    }
    .part_populaires{
        display: flex;
        flex-flow: row wrap;
        width: fit-content;
        background-color: #F2F2F2;
        padding: 0 30px; 
        /* justify-content: center; */
        border-radius: unset;
        align-content: center;
        order:1;
    }
    .titre-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
        justify-content: space-between;

    }
    .titre-part-ppl h2{
        /* width: 30%; */
    }
    .prix-ppl{
        font-size: 1.35vw;
    }
    .items-populaires{
        display: flex;
        height: 60%;
        width:30%;
        margin: 25px auto;
        
    }
    .part_hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        background-color: #F2F2F2;
        order: 2;
        
    }
    .part_activites{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 40px 0;
        height:33rem;
        order: 3;

    }
    .titre-actvt{
        font-size: 1.2vw;
    }
}
/* _______________________800_____________________________ */
/* ////////////////////////////////////////////////////////*/


@media (max-width: 800px){
    h3{
        font-size: 3vw;
    }
    .container{
        width: 100%;
    }
    .filtre p{
        width: 100%;
    }
    .prix-hbgmt, .prix-ppl {
        font-size: 2.1vw;
    }
    .part_populaires{
        display: flex;
        flex-flow: column;
        padding: 0 30px; 
        background-color: #F2F2F2;
        border-radius: unset;
        justify-content: space-around;
        align-items: center;
        order:1;
    }
    .titre-part-ppl{
        display: flex;
        font-size: 1.7rem;
        width: 100%;
    }
    .titre-part-ppl h2{
        width: fit-content;
    }
    .items-populaires{
        display: flex;
        height: 30%;
        width: 100%;
        margin: 0 0;
        
    }
    .part_hebergements{
        width: 100%;
        padding: 30px;
        margin: 40px 0;
        border-radius: unset;
        background-color: #F2F2F2;
        flex-flow: row wrap;
        order: 2;
    }
    .items-hebergements{
        width:40%;
    }


    .part_activites{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 40px 0;
        height:33rem;
        order: 3;

    }
    .actvt-ul{
        flex-flow: column;
        align-items: center;
        padding: 0;
    }
    .items-actvt {
        width: 80%;
    }
    .part-actvt {
        width: 80%;
        display: flex;
    }
    .footerP1, .footerP2, .footerP3 {
        width: 32%;
    }
}
/* _______________________300?_____________________________ */
/* //////////////////////////////////////////////////////// */

